.swipe-buttons{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    bottom: 10px;
}

.swipe-buttons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
}

.swipe-buttons-repeat{
    padding: 20px !important;
    color: #f5b748;
}
.swipe-buttons-left{
    padding: 20px !important;
    color: #ec5e6f;
}
.swipe-buttons-star{
    padding:20px !important;
    color: #62b4f9;
}
.swipe-buttons-right{
    padding: 20px !important;
    color: #76e2b3;
}
.swipe-buttons-lightning{
    padding: 20px !important;
    color: #915dd1;
}